__pycache__/
.ipynb_checkpoints/
.DS_Store
.idea/

data/raw/*.csv
data/raw/*.csv.gz
# Tableau local workbook files
*.twb
*.twbx
*.twb Files/
*.hyper
*tde
Tableau_workbooks/
# Local database outputs
data/processed/*.sqlite
data/processed/*.db

# Node / n8n local setup
node_modules/
.n8n/
n8n_data/